.welcome-view {

  color: $gold;

  .logo {
    padding-top: 15px;
    height: 70px;
  }

  .slide {
    margin: 0 0 50px 0;
    .slide-image {
      padding: 0 10px;
    }
    .slide-text {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin: 0;
    }
  }
  .slider-pager {
    .slider-pager-page {
      margin: 0 1px;
      i {
        font-size: 85%;
      }
    }
  }

}