<ion-view class="about-view">
    <ion-content class="padding">

        <div class="about-logo-container">
            <img class="about-logo" src="
            assets/images/shopeur-logo-raute.svg" alt="">
        </div>

        <div class="about-card">
            <h1>Friends of european luxury</h1>
            <p>
                SHOPEUR is a mobile multi-brand platform for luxury products
                which is tailored to the specific needs of sophisticated
                Chinese travellers. SHOPEUR facilitates your business
                interactions with Chinese consumers and helps you to optimise
                purchase transactions.
            </p>
        </div>

        <div class="about-header"></div>

        <div class="about-card">

            <h1>THAT'S HOW IT WORKS </h1>

            <h2>SELECT DESIRED PRODUCT</h2>

            <p>
                SHOPEUR users select their preferred products by uploading
                pictures or entering product codes. They can also browse for
                your product suggestions on the app‘s exclusive inspire feed.
                After a product category has been selected users can start
                pre-ordering.
            </p>
        </div>

        <div class="about-img-container">
            <img class="about-img" src="assets/images/trips-gif.gif" alt="">
        </div>

        <div class="about-card">
            <h2>RESERVE PRODUCT</h2>
            <p>
                SHOPEUR users select their preferred products by uploading
                pictures or entering product codes. They can also browse for
                your product suggestions on the app‘s exclusive inspire feed.
                After a product category has been selected users can start
                pre-ordering.
            </p>
        </div>

        <div class="about-img-container">
            <img class="about-img" src="assets/images/tasche-gif.gif" alt="">
        </div>

        <div class="about-card">
            <h2>GET PRODUCT VIA QR-CODE
            </h2>
            <p>
                SHOPEUR’s map feature assists users in locating your stores and
                a personalised QR-code simplifies matching users with their
                pre-orders at store level. Your staff will have all the
                necessary information on their mobile devices to provide a
                personalised service experience.
            </p>
        </div>

        <div class="about-img-container">
            <img class="about-img" src="assets/images/palace-gif.gif" alt="">
        </div>

    </ion-content>
</ion-view>
