<ion-view class="contact-view">
    <ion-content class="padding">

        <div class="card">
            <div>
                <ul>
                    <li>Shopeur GmbH</li>
                    <li>Kemnatenstr. 44</li>
                    <li>80639 Munich</li>
                    <li>Germany</li>
                    <li>T +49 (0) 176 290 92 648</li>
                    <li><a class="gold-link" href="mailto:info@shopeur.com">info@shopeur.com</a></li>
                </ul>
            </div>
        </div>

        <img src="assets/images/wechat_qr.jpeg" alt="wechat qr">
 
    </ion-content>
</ion-view>
