<ion-view class="login-view">
    <ion-content>

        <div class="row">
            <div class="col">
                <img src="assets/images/shopeur-logo-raute.svg" class="logo">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form name="recoverForm">
                    <div class="list">
                        <label class="item item-input">
                            <input type="email"
                                   ng-model="vm.form.email"
                                   name="email"
                                   required
                                   translate
                                   translate-attr-placeholder="login.placeholder">
                        </label>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col buttons">

                <p translate="forgotPassword.success" ng-show="vm.success" class="recover-success"></p>


                <button ng-click="vm.requestPassword()"
                        class="button login"
                        translate="forgotPassword.submit"
                        ng-disabled="recoverForm.$invalid">
                </button>

                <button ng-click="vm.login()"
                        class="button button-full sign-up"
                        translate="login.button">
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>