<ion-view class="tax-refund-view">
    <ion-content class="padding">

        <div class="tax-refund-card">
            <h1>Tax refund</h1>
            <h2>WHO'S ELIGIBLE</h2>
            <div class="row">
                <div class="col">
                    <img class="tax-info-img" src="assets/images/18.jpg" alt="">
                </div>
                <div class="col">
                    <img class="tax-info-img" src="assets/images/residence.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>You must be older than 18 years</p>
                </div>
                <div class="col">
                    <p>Permanent residence or valid long term visa in a non-EU country</p>
                </div>
            </div>
        </div>

        <div class="tax-refund-card">
            <h2>AT THE STORE</h2>
            <div class="row">
                <div class="col">
                    <img class="tax-info-img" src="assets/images/EUpauseNOT.jpg" alt="">
                </div>
                <div class="col">
                    <img class="tax-info-img" src="assets/images/forms.jpg" alt="">
                </div>
                <div class="col">
                    <img class="tax-info-img" src="assets/images/bill.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Inform the retailer that you want to export the goods to outside of the EU</p>
                </div>
                <div class="col">
                    <p>Fill out tax refund form and have them signed by a store employee</p>
                </div>
                <div class="col">
                    <p>Attach the original purchase receipts to the tax refund form</p>
                </div>
            </div>
        </div>

        <div class="tax-refund-card">
            <h2>AT THE AIRPORT</h2>
            <div class="row">
                <div class="col">
                    <img class="tax-info-img" src="assets/images/airport.jpg" alt="">
                    <img class="tax-info-img" src="assets/images/countdown.jpg" alt="">
                </div>
                <div class="col">
                    <img class="tax-info-img" src="assets/images/customs.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Please allow enough time for the refund process before your flight departs</p>
                </div>
                <div class="col">
                    <p>Stop at the customs office and present the following items</p>
                </div>
            </div>
        </div>

        <div class="tax-refund-card">
            <div class="row">
                <div class="col">
                    <img class="tax-info-img" src="assets/images/formsandbill.jpg" alt="">
                </div>
                <div class="col">
                    <img class="tax-info-img" src="assets/images/goods.jpg" alt="">
                </div>
                <div class="col">
                    <img class="tax-info-img" src="assets/images/passport.jpg" alt="">
                </div>
                <div class="col">
                    <img class="tax-info-img" src="assets/images/flightticket.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Tax refund form and original receipt from the store</p>
                </div>
                <div class="col">
                    <p>Sealed & unused goods with price tags</p>
                </div>
                <div class="col">
                    <p>Passport showing residence outside the EU</p>
                </div>
                <div class="col">
                    <p>Valid flight ticket to a country outside the EU</p>
                </div>
            </div>
        </div>

        <div class="tax-refund-card">
            <div class="row">
                <div class="col">
                    <img class="tax-info-img" src="assets/images/stamp.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>After the goods have been examined,the export papers will be stamped</p>
                </div>
            </div>
        </div>


        <div class="tax-refund-card">
            <h2>GETTING YOUR REFUND</h2>
            <div class="row">
                <div class="col">
                    <img class="tax-info-img" src="assets/images/taxrefund.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Global Blue, TaxFreeWorldwide, or Premier Tax Free usually have seperate offices inside the airport
                        Present your properly stamped documents and they’ll refund you in cash or transfer the refund to your credit card (usually within two billing cycles)
                    </p>
                </div>
            </div>
        </div>

        <div class="tax-refund-card">
            <div class="row">
                <div class="col">
                    <img class="tax-info-img" src="assets/images/globalblue.jpg" alt="">
                </div>
                <div class="col">
                    <img class="tax-info-img" src="assets/images/taxfreeworldwide.jpg" alt="">
                </div>
                <div class="col">
                    <img class="tax-info-img" src="assets/images/premiertaxfree.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Global Blue</p>
                </div>
                <div class="col">
                    <p>Tax Free Worldwide</p>
                </div>
                <div class="col">
                    <p>Premier Tax Free</p>
                </div>
            </div>
        </div>

        <div class="tax-refund-card">
            <div class="row">
                <div class="col">
                    <img class="tax-info-img" src="assets/images/letter.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        If there are no offices present at your airport, please check the back of the tax refund form where you will find detailed instructions for the refunding process
                        If the store gave you export papers, send the stamped invoice back to the store where you made your purchase
                    </p>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
